#banner {
    height:3rem;
    background: url(../img/everydayCleaning/banner_cleaning.jpg) no-repeat 0 0 /7.5rem 3rem;
}
#vip_discount{
    margin-top:0.12rem;
}
#vip_discount .buyVip{
    padding:0 0.3rem;
    line-height:1rem;
    border-bottom:1px solid #ccc;
    background: #fff url(../img/baseUi/right_blue.png) no-repeat right 0.3rem top 50% /0.15rem 0.27rem;
}
#vip_discount .buyVip img{
    width:0.4rem;
    height:0.4rem;
    margin-right:0.22rem;
}
#vip_discount .buyVip span{
    color: #e06741;
}
#vip_discount .buyVip a{
    float: right;
    color: #4cc3ff;
    padding-right:0.28rem;
}
#vip_discount table {
    border-collapse: collapse;
    border-spacing: 0;
    width:6.9rem;
    margin: 0 auto;
    margin-top:0.12rem;
}
#vip_discount table th,
#vip_discount table td {
    width:33.33%;
    margin: 0 auto;
    border: 1px solid #f2f2f2;
    text-align: center;
}
#vip_discount table th{
    background-color: #4cc3ff;
    line-height:0.8rem;
    color: #fff;
}
#vip_discount table td{
    background-color: #fff;
    line-height:0.6rem;
    color: #919191;
}
#vip_discount .remarks {
    margin-top:0.12rem;
    padding:0.2rem 0.3rem;
    color: #919191;
    line-height:150%;
    font-size:0.24rem;
    background-color: #fff;
}
#vip_discount .remarks em {
    float: left;
}
#vip_discount .remarks p {
    width:6.43rem;
    padding-left:0.5rem;
    color: #919191;
}
#feature {
    background-color: #f2f2f2;
    margin-top:0.12rem;
    padding-bottom:1rem;
}
#feature .feature-01{
    background-color: #fff;
    padding-bottom:0.4rem;
}
#feature h3 {
    line-height:0.36rem;
    text-align: center;
    padding-top:0.34rem;
}
#feature .feature-01 .text-01,
#feature .feature-02 .text-02,
#feature .feature-03 .text-03{
    display: block;
    margin: 0 auto;
    margin-top:0.16rem;
}
#feature .feature-01 .text-01{
    width:2.02rem;
    height:0.23rem;
}
#feature .feature-01 li {
    padding-left: 1.68rem;
    margin-top:0.35rem;
    height: 0.81rem;
}
#feature .feature-01 li img{
    width:0.7rem;
    height:0.81rem;
    position: absolute;
    left:0.6rem;
}
#feature .feature-01 li p:nth-of-type(1){
    padding-top:0.12rem;
}
#feature .feature-01 li p:nth-of-type(2){
    padding-top:0.12rem;
    font-size:0.2rem;
    color: #919191;
}
#feature .feature-same {
    margin-top:0.12rem;
    background-color: #fff;
    padding:0 0.3rem;
    padding-bottom:0.4rem;
}
#feature .feature-02 .text-02{
    width:2.5rem;
    height:0.24rem;
}
#feature .feature-same  li {
    width:50%;
    float: left;
    text-align: center;
    margin-top:0.3rem;
}
#feature .feature-same  li img{
    width:2.8rem;
    height:2rem;
    border-radius: 0.1rem;
}
#feature .feature-same  li p {
    padding-top:0.3rem;
    color: #919191;
}
#feature .feature-03 .text-03{
    width:2.51rem;
    height:0.22rem;
}
#feature .FAQ{
    padding:0 0.3rem;
    background-color: #fff;
    margin-top:0.12rem;
    padding-bottom:0.68rem;
    border-bottom:0.12rem solid #f2f2f2;
}
#feature .FAQ > h4 >img {
    margin-top:0.4rem;
    margin-bottom:0.18rem;
}
#feature .FAQ > h4 > .text-04{
    width:2.32rem;
    height:0.23rem;
}
#feature .FAQ .cleaning-tool{
    font-size:0;
}
#feature .FAQ .cleaning-tool li {
    display: inline-block;
    font-size:0.24rem;
    text-align: center;
    padding-top:0.2rem;
    width:25%;
}
#feature .cleaning-tool li img{
    width:0.8rem;
    height:0.8rem;
}
#feature .cleaning-tool li p {
    padding-top:0.2rem;
}
#feature .FAQ > h4 > .text-05{
    width:4.12rem;
    height:0.24rem;
}
#feature .FAQ > p {
    font-size: 0.2rem;
    line-height: 180%;
    color: #919191;
}
#feature .FAQ > h4 > .text-06{
    width:4.6rem;
    height:0.24rem;
}
#footer{
    position: fixed;
    bottom: 0;
    width:7.5rem;
    background-color: #fff;
    padding:0.07rem 0.3rem;
}
#footer a{
    display: block;
    width:3.3rem;
    line-height:0.88rem;
    background-color: #4cc3ff;
    color: #fff;
    text-align: center;
    border-radius: 0.1rem;
}
#footer .once{
    float: left;
}
#footer .cycle{
    float: right;
}