#bg {
    height: 3rem;
    background: url(../img/inviteGift/invite_bg.jpg) no-repeat center center/7.5rem 3rem;
}

#task dl {
    font-size: 0;
    background-color: #fff;
    padding: 0 0.3rem;
}

#task dt {
    width: 7.5rem;
    margin-left: -0.3rem;
    padding-left: 0.3rem;
    font-size: 0.28rem;
    line-height: 0.8rem;
    border-bottom: 1px solid #e6e6e6;
}

#task dd {
    position: relative;
    padding-top:0.2rem;
    width: 33.333%;
    display: inline-block;
    height: 2.02rem;
    text-align: center;
    border-bottom:1px solid #e6e6e6;
}

#task dd + dd {
    border-left:1px solid #e6e6e6;
}
#task dd i {
    position: absolute;
    top: 0;
    right: 0;
    width:0.95rem;
    height:0.95rem;
    background: url(../img/inviteGift/notOpen.png) no-repeat 0 0/0.95rem 0.95rem;
}
#task dd img {
    width: 0.6rem;
    height: 0.6rem;
}

#task dd .task-item {
    padding:0.14rem 0;
    font-size: 0.24rem;
    color: #333;
}

#task dd p {
    font-size: 0.2rem;
    color: #919191;
    line-height:120%;
}
#invite_rule {
    padding: 0 0.3rem;
    margin-top:0.48rem;
    margin-bottom:1rem;
}
#invite_rule h3{
    color: #333;
    font-size:0.32rem;
    text-align: center;
    line-height:150%;
    margin-bottom:0.2rem;
}
#invite_rule p {
    color: #919191;
    line-height:200%;
}