#message {
    margin-top:0.18rem;
}
#message ul {
    background-color: #fff;
}

#message li {
    padding:0 0.3rem;
    border-bottom: 1px solid #f2f2f2;
    font-size: 0.24rem;
    padding-bottom:0.24rem;
}

#message li div {
    text-align: center;
    line-height: 0.7rem;
}

#message li div .left {
    position: absolute;
    left: 0.3rem;
    font-size: 0.28rem;
}

#message li div .center {
    color: #ff5151;
}

#message li div .right {
    position: absolute;
    right:0.3rem;
}
#message li p {
    color: #666;
}
#message li.see .left,
#message li.see .right,
#message li.see p{
    color: #b2b2b2;
}